{
    "semi": false,
    "tabWidth": 4,
    "arrowParens": "avoid",
    "trailingComma": "none",
    "plugins": ["prettier-plugin-tailwindcss"],

    "tailwindStylesheet": "./src/index.css",
    "tailwindConfig": "./tailwind.config.ts"
}
